# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Entornos virtuales
env/
venv/
.env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db

# Archivos comprimidos
*.zip
*.rar
*.tar.gz

# Logs
*.log
